/* CARD */
.card{
  background:#fff;
  border-radius:16px;
  padding:20px;
  margin-bottom:20px;
  box-shadow:0 4px 12px rgba(0,0,0,0.05);
}

.card h2{
  margin-bottom:8px;
}

.card h3{
  margin-bottom:10px;
}

/* FILE INPUT */
input[type="file"]{
  margin-top:10px;
  margin-bottom:10px;
}

/* BUTTON */
.btn-primary{
  background:var(--primary);
  color:#fff;
  border:none;
  padding:10px 18px;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
}

.btn-primary:hover{
  opacity:.9;
}

/* INFO */
.info{
  font-size:13px;
  color:#777;
  margin-top:8px;
}
